.item_auth {
  height: calc(96vh - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;

  .container_auth {
    border: 2px solid white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 500px;

    .eye_container {
      position: relative;

      i {
        position: absolute;
        color: white;
        font-size: 22px;
        top: 52%;
        transform: translateY(-50%);
        right: 10px;
        cursor: pointer;
      }
    }

    h1 {
      color: white;
      text-align: center;
    }

    input {
      margin-bottom: 20px;
    }

    p {
      margin-top: 20px;
      color: white;
      margin-left: 2px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 800px) {
  .item_auth {
    align-items: flex-start;

    .container_auth {
      margin-top: 200px;
      width: 90vw;

      h1 {
        font-size: 25px;
        margin-bottom: 10px;
      }

      label {
        font-size: 16px;
      }
    }
  }
}