.container_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 14px;
  position: fixed;
  z-index: 1;
  width: 100%;

  .user {
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #1D94E9;
    font-weight: bold;
    gap: 12px;
    font-size: 19px;

    img {
      width: 40px;
    }
  }

  i {
    color: white;
    font-size: 25px;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .container_navbar {
    .logo {
      font-size: 17px;
    }
  }
}